<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    
    <h1>Xin chào các bạn!</h1>
    <p>Đã chảy về đâu những suối xưa?<br>
    Đâu cơn yêu mến đến không chờ?<br>
    Tháng ngày vùn vụt phai màu áo<br>
    Của những nàng tiên mộng trẻ thơ.</p>

    <p>Rụng những chùm tên mấy độ bông;<br>
    Phai hàng nhật ký chép song song;<br>
    Chàng trai gối mộng trên trang sách<br>
    Tỉnh thức, mùa xuân rụng hết hồng.</p>

    <p>Đời mất về đâu, hỡi tháng, năm?<br>
    Xuân không mọc nữa với trăng rằm!<br>
    Chẳng bao lâu ngủ sầu trong đất,<br>
    Vĩnh viễn mùa đông lạnh chỗ nằm.</p>

    <p>Nay hàng còn đây ấm mặt trời,<br>
    Mà sao lòng lạnh tuyết băng rơi?<br>
    U sầu chắc hẳn đang nhanh bước,<br>
    Lưng khọm nghìn năm đến cửa tôi.</p>
    {{{body}}}

</body>
</html>